body{font-family: "Playfair Display", serif;background: #f1f1f1;}
.MuiBadge-badge{background-color: #ac5555 !important;}

.ReactCollapse--collapse {
  transition: height 400ms;
}

::-webkit-scrollbar{width:10px !important; height: 10px m !important;} 
::-webkit-scrollbar-thumb{background: #ccc !important;}

.btn{padding: 8px 20px !important;}
.btn svg{font-size:20px !important;}
.btn-blue{background: #3a69d8 !important; color: #f1f1f1 !important; }
.btn-blue:hover{background: #3067e5 !important;}
.btn-sm{padding:6px 20px !important; font-size:13px  !important}
.btn-lg{padding:6px 20px !important; font-size:16px  !important}

th.MuiTabel.Cell-root{@apply bg-[#f1f1f1] py-1}

a.active button{background: #dcdcdc !important;}
.MuiButton-icon svg{font-size:27px !important;}

.css-rizt0-MuiTypography-root{font-size:14px !important;}

.MuiAppBar-colorPrimary{background: #e6e6e6 !important;}
.MuiSelect-select{background: #fff !important;}

.MuiDialog-paper{background:#f9fafb !important;}
